* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/***********************************************************************
 *  Nav Bar
 **********************************************************************/

 li, a, button {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2.5px;
    color: black;
    text-decoration: none;

 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
 }

 .logo {
    width: 80px;
    cursor: pointer;
 }

 .nav_link {
    list-style: none;
 }

 .nav_link li {
    display: inline-block;
    padding: 0px 25px;
 }

 .nav_link li a {
    background: linear-gradient(to left, white 50%, #f5bc1d 50%) right;
    background-size: 200%;
    transition: .3s ease;
 }

 .nav_link li a:hover {
    background-position: left;
    color: white;
    letter-spacing: 5px;
    padding: 2px 10px;
 }

 button {
    padding: 9px 25px;
    color: white;
    background: #f5bc1d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
 }

 button:hover {
    background: rgba(245, 188, 29, 0.7);
 }


 @media only screen and (max-width: 1251px) {

    header {
        padding: 6px 3.5%;
    }

    li, a, button {
        font-size: 0.9em;
        letter-spacing: 1px;
    }

    .nav_link li a:hover {
        color: white;
        letter-spacing: 5px;
        background-color: #1d498c;
        padding: 5px 10px;
    }

    button {
        padding: 5px 15px !important;
    }

    .logo {
        width: 3em !important;
    }
 }

/***********************************************************************
 *  Cover
 **********************************************************************/


.cover {
    display: flex;
    height: 95vh;
    width: 100%;
    background-size: cover;
}

.cover-container {
    position: absolute;
}

.h1-cover {
    font-family: "Archivo Black", sans-serif;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    letter-spacing: 15px;
    border-left: solid 10px #F60281;
    padding-left: 10px;
}

.p1-cover {
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 7%;
    color: #f5bc1d;
    letter-spacing: 5px;
    font-weight: 100;

}

.btn-cover {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 75%;
    left: 50%;
    color: white;
    letter-spacing: 3px;
    background-color:#F60281;
    padding: 4px 7px;
    transition: all 0.3s ease 0s;
}

.btn-cover:hover {
    background-color: rgba(246, 2, 129, 0.8);
}

@media only screen and (max-width: 1251px) {

    .h1-cover {
        font-size: 2em;
        letter-spacing: 5px;   
    }

    .p1-cover {
        font-size: 1em;
        letter-spacing: 2px;   
        top: 48%;
        left: 7%;
    }
 }

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}

.box > img {
    width: 100%;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
    height: 60vh;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
